<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Biodata</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="main-content">
      <div class="login-box">
        <p>Biodata</p>
        <form action="/api/views/biodata" method="POST">
          <div class="user-box">
            <input
              required=""
              name="name"
              type="text"
              oninvalid="this.setCustomValidity('Nama Tidak Boleh Kosong')"
              oninput="this.setCustomValidity('')"
            />
            <label>Nama</label>
          </div>
          <div class="user-box">
            <input
              required=""
              name="place_birth"
              type="text"
              oninvalid="this.setCustomValidity('Tempat Lahir Tidak Boleh Kosong.')"
              oninput="this.setCustomValidity('')"
            />
            <label>Tempat Lahir</label>
          </div>
          <div class="user-box">
            <input
              required=""
              name="date_birth"
              placeholder="yyyy-mm-dd"
              type="text"
              oninvalid="this.setCustomValidity('Tangal Lahir Tidak Boleh Kosong.')"
              oninput="this.setCustomValidity('')"
            />
            <label>Tanggal Lahir</label>
          </div>
          <div class="user-box">
            <input
              required=""
              name="address"
              type="text"
              oninvalid="this.setCustomValidity('Alamat tidak boleh kosong.')"
              oninput="this.setCustomValidity('')"
            />
            <label>Alamat</label>
          </div>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit">Simpan Data</button>
          </a>
        </form>
      </div>
      <div class="list-biodata">
          <h3>List Biodata</h3>
            <table border="3">
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Tempat Lahir</th>
                <th>Tangal lahir</th>
                <th>Alamat</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>0</td>
                <td>Fajri Muhammad Tio</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td class="action">
                  <button class="edit">Edit</button>
                  <button class="delete">Delete</button>
                </td>
              </tr>
              <% biodata.forEach(function(data, i) { %>
                <tr>
                  <td><%= i + 1 %></td>
                    <td><%= data.name %></td>
                    <td><%= data.place_birth %></td>
                    <td><%= data.date_birth %></td>
                    <td><%= data.address %></td>
                    <td class="action">
                      <button class="edit" onclick="editBiodataById(`<%= data.id %>`)" >Edit</button>
                      <button class="delete" onclick="deleteBiodataById(`<%= data.id %>`)">Delete</button>
                    </td>
                </tr>
              <% }); %>
            </table>
      </div>
    </div>

    <script>
      const deleteBiodataById = async (id) => {
        const trueDelete = confirm(`Apakah anda yakin ingin menghapus biodata dengan id ${id}`)
         
        if(trueDelete) {
          await fetch(`/api/views/biodata/${id}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          });
          location.reload();
        }
      }

      const editBiodataById = (id) => {
        window.location = `/api/views/biodata/${id}`
      }
    </script>
  </body>
</html>
